/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2016, 20:32:16
    Author     : afleonc
*/

body{
    padding-top: 25px;
}

.fullButton{
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 28px;
    margin: 0px;
}

.tableDataNoSpaceTime{
    padding: 0px !important;
}

.tableDataNoSpace{
    padding: 0px !important;
}

.spacedRow{
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.spacedMargin{
    margin-left: 15px;
    margin-right: 15px;
}

.elementoOculto{
    display:none
}

.elementoVisible{
    display: block;
}
