/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2016, 20:32:16
    Author     : afleonc
*/

.fullButton{
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 50px;
    margin: 0px;
}

.tableDataNoSpace{
    padding: 0px !important;
}

.spacedRow{
    padding: 15px;
}

.elementoOculto{
    display:none
}

.elementoVisible{
    display: block;
}